html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    -webkit-user-select: none;
    font-size: 100%;
}

#player {
    box-sizing: border-box;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.clear-fix {
    clear: both;
}

#player .player-container {
    height: 100%;
}

.player-container .controllers {
    height: 50px;
    padding: 1em;
    /*background:         linear-gradient(90deg, #F1F2B5 5%, #135058 95%);*/
    background: linear-gradient(90deg, #348F50 10%, #56B4D3 90%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.player-container .controllers .add-song {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-radius: 0 0 100%;
    text-align: center;
    height: 50px;
    width: 50px;
    background: #fff;
    cursor: pointer;
}

.player-container .controllers .add-song  div {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 10px;
}

.player-container .controllers [type=file] {
    display: none !important;
    opacity: 0;
}

.controllers .player-control {
    margin: auto auto 0;
}

.controllers .player-control img {
    padding: 10px;
}

.controllers .player-control img.back {
    transform: rotateZ(180deg)
}

#player .music-container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    padding: 25px 20px 0;
}

.song-container {
    max-width: 200px;
    text-align: center;
    margin: 0 10px 10px;
    font-family: CaviarDreams;
}

.song-container:first-of-type {
    margin-left: 0;
}

.song-container img {
    width: 200px;
    border-radius: 8px;
}

.song-container .cover:hover .control-blackout {
    display: block;
}

.song-container .control-blackout {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.song-container .control-blackout {
    background: url('../resources/play.svg') rgba(0, 0, 0, .5) no-repeat 50%;
    background-size: contain;
}

.song-container .cover.playing .control-blackout {
    background: url('../resources/pause.svg') rgba(0, 0, 0, .5) no-repeat 50%;
    background-size: contain;
    display: block;
}

.song-container .artist {
    line-height: 1.618;
}


/*.animate-load {
    -webkit-animation: loadComplete 1s;
    animation: loadComplete 1s;
}

@-webkit-keyframes loadComplete {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(25deg);
    }

    66% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
 }


@keyframes loadComplete {
0% {
    transform: rotate(0deg);
}

33% {
    transform: rotate(25deg);
}

66% {
    transform: rotate(-25deg);
}

100% {
    transform: rotate(0deg);
}
}*/

