html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    -webkit-user-select: none;
}

#player {
    box-sizing: border-box;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.clear-fix {
    clear: both;
}

#player .player-container {
    height: 100%;
}

.player-container .controllers {
    height: 20%;
    background: #000;
    display: flex;
    align-items: flex-end;
}

.player-container .controllers .add-song {
    display: inline-block;
    border: 3px solid rgb(225, 225, 225);
    border-radius: 50%;
    text-align: center;
    height: 34px;
    width: 34px;
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;
    z-index: 999;
}

.player-container .controllers .add-song  div {
    color: rgb(225, 225, 225);
    padding: 2px;
    font-size: 35px;
    font-weight: bold;
    line-height: .9;
}

.player-container .controllers .add-song input {
    outline: none;
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    left: 6px;
}

#player .music-container {
    display: flex;
    height: 80%;
    padding: 25px 20px 0;
}

.song-container {
    max-width: 200px;
    text-align: center;
    margin: 0 10px 10px;
    font-family: CaviarDreams;
}

.song-container:first-of-type {
    margin-left: 0;
}

.song-container img {
    width: 200px;
    border-radius: 8px;
}

.song-container .control-blackout {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.song-container .control-blackout.play {
    background: url('../resources/play.svg') rgba(0, 0, 0, .5) no-repeat 50%;
    background-size: contain;
}

.song-container .control-blackout.pause {
    display: none;
    background: url('../resources/pause.svg') rgba(0, 0, 0, .5) no-repeat 50%;
    background-size: contain;
}

.song-container .artist {
    line-height: 1.618;
}


/*.animate-load {
    -webkit-animation: loadComplete 1s;
    animation: loadComplete 1s;
}

@-webkit-keyframes loadComplete {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(25deg);
    }

    66% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
 }


@keyframes loadComplete {
0% {
    transform: rotate(0deg);
}

33% {
    transform: rotate(25deg);
}

66% {
    transform: rotate(-25deg);
}

100% {
    transform: rotate(0deg);
}
}*/

